
    <head>
      
      <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
<style>


body {
   background: #92cbdf;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin: 0;
   padding: 0;
   font-family: 'Outfit', sans-serif;
   font-size: 17px;  
  
}
  



h2 {
  color: black;
}

h1 {
  color: black;
}



#RS:hover{
transform: rotate(-8deg);
}

#PY:hover{
transform: rotate(9deg);
}

#CS:hover{
transform: rotate(-9deg);
}

#JS:hover{
transform: rotate(9deg);
}

</style>
</head>
<body>
   


<span class="button_icon">
  
<a href="#" id="back_to_top">
  
  <i class="fas fa-chevron-up fa-2x"></i>


</a>
</span>
<p>
<br>
<p>

Made with <a href="https://cran.r-project.org/" target="_blank" rel="noopener"><img id ="RS", img src="/themes/wyrfraym/layouts/partials/footer_files/r-project.svg" alt="" width="2%"/></i></a>

, the wyrfraym <a href="https://github.com/NicJC/wyrfraym" target="_blank"><i class="fas fa-code-branch"></i></a>

theme,  


<a href="https://www.python.org/about/" target="_blank" rel="noopener"><img id ="PY", img src="/themes/wyrfraym/layouts/partials/footer_files/python.svg" alt="" width="2%"/></a>


, <img id ="JS", img src="/themes/wyrfraym/layouts/partials/footer_files/js.svg" alt="" width="2%"/> ,


and <img id ="CS",img src="/themes/wyrfraym/layouts/partials/footer_files/css3.svg" alt="" width="2%"/>

</p>
</p>

</header>


